---
import Button from '../../components/Button.astro';
import TextField from '../../components/TextField.astro';
import Layout from '../../layouts/Layout.astro';
import Account from '../../model/users/Account';
import { TokenInconnuError } from '../../model/users/Account';
import Company from '../../model/users/Company';
import {
	getAccountBySession,
	getCompanyBySession,
} from '../../model/Utilitaire';

//Get Account
const account: Account = await getAccountBySession(Astro.request.headers).catch(
	(err) => null
);

//Get Company
const company: Company = await getCompanyBySession(Astro.request.headers).catch(
	(err) => null
);

if (Astro.request.method == 'POST') {
	const formData = await Astro.request.formData();
	const redirect = Astro.url.searchParams.get('redirect') || '';
	// Vérification des champs
	if (!formData.has('password') || !formData.has('password_confirm')) {
		return Astro.redirect('?error=missing_field');
	}
	// Vérification des mots de passe
	if (formData.get('password') != formData.get('password_confirm')) {
		return Astro.redirect('?error=wrong_password');
	}
	// Vérification du token
	const token = Astro.url.searchParams.get('token');
	/*if (!token) {
		return Astro.redirect('?error=missing_token');
	}*/
	/*if (token.length == 0) {
		return Astro.redirect('?error=invalid_token');
	}*/

	const password = formData.get('password').toString();
	// Mot de passe fort https://www.section.io/engineering-education/password-strength-checker-javascript/
	if (
		!/(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})/.test(
			password
		)
	)
		return Astro.redirect('?error=weak_password&token=' + token);
	// Vérification et modification du mot de passe
	console.log(token, password);
	try {
		if (!account) {
			const tokenExists = await Account.setPassword(token, password);
		} else if (!company) {
			const tokenExists = await Company.setPassword(token, password);
		}
	} catch (e) {
		if (e instanceof TokenInconnuError) {
			return Astro.redirect('?error=invalid_token');
		} else console.error(e);
		return new Response('Internal server error', { status: 500 }); // FIXME : page d'erreur	}

		// Vérification de la validité du token
		//
		//
		// Redirection
	}
	return Astro.redirect('?success=modified_password');
}
---

<Layout title="Réinitialiser votre mot de passe" no_searchbar>
	<main>
		<h1>Réinitialiser votre mot de passe</h1>
		<form method="post" class="formlist">
			<table>
				<th>Mot de passe :</th>
				<td>
					<TextField
						text=""
						placeholder="Entrez votre nouveau mot de passe"
						type="password"
						length="15rem"
						name="password"
					/>
				</td>
				<tr>
					<th>Confirmer le mot de passe :</th>
					<td>
						<TextField
							text=""
							placeholder="Confirmer le nouveau mot de passe"
							type="password"
							length="15rem"
							name="password_confirm"
						/>
					</td>
				</tr>
			</table>
			<div id="btn">
				<Button text="Modifier le mot de passe" />
			</div>
		</form>
	</main>
</Layout>

<style>
	#btn {
		/* centre le bouton */
		text-align: center;
	}
	main {
		background-color: var(--theme-secondary);
		margin: 3rem 5rem;
		padding: 2rem;

		border-radius: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		margin-top: 0rem;
	}
</style>
