---
import Layout from "../layouts/Layout.astro";
import AboutUs from "../components/AboutUs.astro";

---
<Layout title="about_us">
    <main>
        <div>
            <ul>
                <div>
                    <AboutUs
                    nom = "Cedric Champeix"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                    <AboutUs
                    nom = "Ahmed Khairi"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                    <AboutUs
                    nom = "Gaspard Culis"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                </div>
                <div>
                    <AboutUs
                    nom = "Mohammed BenAicha"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                    <AboutUs
                    nom = "Mohammed Friouichen"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                    <AboutUs
                    nom = "Matis Basso"
                    image="Elon_Musk_2015.jpg"
                    description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui enim, iaculis vel mauris id, fermentum condimentum est. Curabitur posuere erat eu tincidunt suscipit. Nullam bibendum, felis in porttitor laoreet."
                    />
                </div>
            </ul>
        </div>
    </main>

</Layout>

<style>
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

</style>