---
import Layout from "../layouts/Layout.astro";
import TextField from "../components/TextField.astro";
import Button from "../components/Button.astro";
---

<Layout title="contact">
  <main>
    <h1>Rejoignez-nous sur nos réseaux sociaux</h1>
    <div class="hbox">
      <a href="https://fr-fr.facebook.com/DonaldTrump"
        ><img
          src="/img/icons/socials/facebook.svg"
          width="80px"
          height="80px"
          alt="Facebook"
        />
      </a>
      <a href="https://twitter.com/elonmusk"
        ><img
          src="/img/icons/socials/twitter.svg"
          width="80px"
          height="80px"
          alt="Twitter"
        />
      </a>
      <a href="https://www.instagram.com/hugodecrypte"
        ><img
          src="/img/icons/socials/instagram.svg"
          width="80px"
          height="80px"
          alt="Instagram"
        />
      </a>
      <a href="https://fr.linkedin.com/in/herv%C3%A9-blanchon-4851b02"
        ><img
          src="/img/icons/socials/linkedin.svg"
          width="80px"
          height="80px"
          alt="Linkedin"
        />
      </a>
      <a href="https://r.mtdv.me/replikas"
        ><img
          src="/img/icons/socials/youtube.svg"
          width="80px"
          height="80px"
          alt="Youtube"
        />
      </a>
    </div>
    <h1>Contactez-nous</h1>
    <form method="get" action="/">
      <div>
        <table>
          <tr>
            <td>Nom Complet</td>
            <td><TextField text="" placeholder="Nom Complet" length="12rem" /></td>
          </tr>
          <tr>
            <td>Sujet</td>
            <td><TextField text="" placeholder="Sujet" length="12rem"/></td>
          </tr>
          <tr>
            <td>Email</td>
            <td><TextField text="" placeholder="Email"length="12rem" /></td>
          </tr>
          <tr>
            <td id="message">Message</td>
            <td>
              <textarea
                name="Message"
                id=""
                cols="80"
                rows="15"
                placeholder="Message"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div id="button">
        <Button text="Envoyer" />
      </div>
    </form>
  </main>
</Layout>

<style>
  h1 {
    font-size: 2rem;
    color: whitesmoke;
  }
  td {
    font-size: 1rem;
    color: whitesmoke;
  }
  form {
    padding: 1.5rem 3rem;
    margin: 1rem auto;
    max-width: 80ch;
    background-color: #222222;

    border-radius: 1rem;
  }

  table tr td textarea {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: 1px solid #222222;
    color: #222222;
    padding: 1rem;
  }
  #message {
    vertical-align: top;
  }
  #button {
    text-align: center;
  }
</style>
