---
import Button from '../components/Button.astro';
import TextField from '../components/TextField.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="recover-password" no_searchbar>
	<main>
		<h1>Mot de passe oublié</h1>
		<TextField length="30rem" text="Votre mail" />
		<div>
			<Button text="Annuler" />
			<Button />
		</div>
	</main>
</Layout>
<style>
	main {
		background-color: var(--theme-secondary);
		margin: 3rem 5rem;
		padding: 2rem;

		border-radius: 2rem;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		margin-top: 0rem;
	}
</style>
