---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';
import { default as ArticleModel } from '../model/Article';

const articles = await ArticleModel.mostBids();
---

<Layout title="Replikas">
	<main>
		<div>
			<h1>Les plus attendus</h1>
			<ul>
				{articles.map((article) => <Article article={article} />)}
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 2rem 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div {
		background-color: var(--theme-secondary);
		width: 85%;
		margin: 0;
		padding: 20px;
		border-radius: 20px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 50px;
		text-align: center;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
	}
</style>
