---
import Layout from "../layouts/Layout.astro";
import Article from "../components/Article.astro";

---

<Layout title="Replikas">
	<main>
		<div>
			<h1>Les plus attendus</h1>
			<ul>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
				<Article titre="Chapeau de Gandalf" image="chapeau_de_gandalf.jpeg" date={new Date()} prix={690}></Article>
			</ul>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: 20px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div {
		background-color: #222222;
		width: 85%;
		margin: 0;
		padding: 20px;
		border-radius: 20px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 50px;
		text-align: center;
		color: whitesmoke;
	}

	ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0;
	}
</style>
