---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../layouts/Navbar.astro";
import SearchBar from "../components/SearchBar.astro";
---

<Layout title="Replikas">
	<main>
		<div>
			<h1>Les plus attendus</h1>

			<ul>
				
			</ul>
			
		</div>
	</main>
	
	
</Layout>

<style>
	main{
		margin: 20px 0;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div	{
		background-color: #222222;
		width: 80%;
		margin: 0;
		padding: 20px;
	}

	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
		text-align: center;
		color: whitesmoke;
	}
	
</style>
