---
import TextField from "../components/TextField.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Acheteur, { UtilisateurOuMotDePasseInvalideError } from "../model/users/Acheteur";
import { addCookie } from "../model/Utilitaire";

// Si on a reçu un formulaire
if (Astro.request.method == "POST") {
	const formData = await Astro.request.formData();
	if (!(formData.has("email") && formData.has("password")))
		// On vérifie que les champs sont bien remplis
		return Astro.response.status(400).send("Missing email or password");

	const email = formData.get("email").toString();
	const password = formData.get("password").toString();

	try {
		// On récupère l'utilisateur, ou on lève une erreur si les identifiants sont invalides
		const user = await Acheteur.get(email, password);
		// On crée un token
		const token = await user.createSession();
		// On crée les headers de la réponse
		const headers = new Headers();
		// On ajoute le token de session aux cookies du client
		addCookie(headers, {
			name: "token",
			value: token,
			maxAge: Acheteur.SESSION_DURATION,
			secure: import.meta.env.MODE == "production",
		});
		// Redirection vers la page d'accueil
		headers.append("Location", "/");
		// Envoi de la réponse
		return new Response("", {
			status: 302,
			headers,
		});
	} catch (e) {
		if (e instanceof UtilisateurOuMotDePasseInvalideError) {
			// Si les identifiants sont invalides
			return Astro.redirect("/login?error=invalid_credentials");
		} else {
			// Si une autre erreur non prevue est survenue
			console.error(e);
			return Astro.response.status(500).send("Internal server error");
		}
	}
}
---

<Layout title="login" no_searchbar>
	<main>
		<h1>Connectez-vous à votre compte</h1>

		<form method="post" action="/login">
			<TextField placeholder="Email" name="email" />
			<TextField text="" placeholder="Mot de passe" name="password" type="password" />
			<Button text="Se connecter" />
		</form>
		<p>Vous n'êtes pas encore inscrit ? <a href="register">S'inscrire</a></p>
	</main>
</Layout>
<style>
	main {
		margin: auto;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		max-width: 80ch;
		background-color: #222222;
		border-radius: 15px;
	}
	h1 {
		font-size: 2rem;
		font-weight: 650;
		margin: 0;
		margin-bottom: 1.5rem;
		color: whitesmoke;
	}
	p {
		color: whitesmoke;
	}
	a {
		color: blue;
	}
	a:hover {
		color: purple;
	}
</style>
