---
import TextField from "../components/TextField.astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
---

<Layout title="login" no_searchbar>
    <main>
        <h1>Connectez-vous à votre compte</h1>
            
        <form method="get" action="/">
            <TextField text="" placeholder="Login"/>
            <TextField text="" placeholder="Password"/>
            <Button text="Se connecter"/>
        </form>
        <p>Vous n'êtes pas encore inscrit ? <a href="register">S'inscrire</a></p>

    </main>
    

</Layout>
<style>
    main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
		padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
		max-width: 80ch;
        background-color: #353A4D;
    }
    h1 {
		font-size: 2rem;
		font-weight: 650;
		margin: 0;
        margin-bottom: 1.5rem;
        color: #EFEFEF;
	}
    p {
        color: whitesmoke;
    }
    a {
        color: blue;
    }
    a:hover {
        color: purple;
    }
</style>
