---
import Button from "../components/Button.astro";
import TextField from "../components/TextField.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paiement" no_searchbar>
  <main>
    <div class="payment-page">
      <div class="info_produit">
        <div class="product-section">
          <img src="/chemin/vers/image/produit" alt="Image du produit" />
          <div class="product-description">
            <h1>Titre du produit</h1>
            <p>Description du produit</p>
            <h2>Prix : 100 €</h2>
            <Button>Payer</Button>
          </div>
        </div>
      </div>
      <p class="payment-info">
        Notre site Web utilise un traitement de paiement sécurisé pour assurer
        la sécurité de vos informations personnelles et financières.
      </p>
    </div>
  </main>
</Layout>

<style>
  textarea {
    resize: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 650;
  }
  .button_search {
    background-color: #1b1e25;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Arial;
    font-size: 16px;
    width: 200px;
  }
  .buton_create {
    background-color: #353a4d;
    color: whitesmoke;
    border-radius: 5px;
    font-family: Arial;
    font-size: 20px;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 75%;
  }
  input[type="text"] {
    background-color: whitesmoke;
    color: #353a4d;
    border-radius: 5px;
    font-family: Arial;
    font-size: 15px;
    width: 70%;
  }
  label {
    color: whitesmoke;
  }

  main {
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 80ch;
    background-color: #222222;
    border-radius: 15px;
  }
  .info_produit {
    margin: auto;
    margin-top: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 80ch;
    background-color: #353a4d;
    border-radius: 15px;
  }

  .div_buton_create {
    margin: auto;
    margin-top: 25px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 80ch;

    border-radius: 15px;
  }

  h1 {
    font-size: 2rem;
    font-weight: 650;
    margin: 0;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    text-align: center;
  }
  h2 {
    font-size: 1.25rem;
    font-weight: 650;
    margin: 0;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    text-align: center;
  }
  p {
    color: whitesmoke;
  }
  a {
    color: blue;
  }
  a:hover {
    color: purple;
  }
</style>
