---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Paiement" no_searchbar>
	<main>
		<div class="article">
			<article>
				<div class="img">
					<img src="/img/article/sabre_laser.jpeg" alt="" />
				</div>
				<div class="informations">
					<h1>Casque de Dark Vador (1975)</h1>
					<p></p>
					<h3 style="margin-top: 15%;">Date fin enchères : 22/08/2022</h3>
					<h3 style="margin-top: 10%;">Prix à payer : 50,000€</h3>
					<form></form>
				</div>
			</article>
			<h3 class="Description">Descriptions :</h3>
			<p style="font-size: large;">Un beau casque de dark vador</p>
		</div>
		<button type="button" class="buton_pay">Payer</button>

		<div class="container_info">
			<div style="width:500px;margin-left: 30%;">
				<li class="payment_details"><h3>Voir les détails du paiement</h3></li>
			</div>
			<div class="details">
				<h2>Un mode de payement simple et sécurisé :</h2>
				<p>
					Afin de satisfaire nos clients Replikas met à votre disposition un
					système simple et entièrement sécurisé via Paypal pour vos paiements
					en ligne.
				</p>
				<br />
				<h2>Vous avez des difficultés à payer en ligne avec votre carte ?</h2>
				<h3>Si vous avez dépassé votre limite de paiement en ligne :</h3>
				<p>
					L'article sera redirigé vers le second plus grand donateur des
					enchères. Cela est nécessaire afin de garantir la transparence et
					l'équité de notre processus d'enchères. Nous comprenons que des
					problèmes de paiement peuvent survenir de manière inattendue, et nous
					sommes toujours disposés à travailler avec nos clients pour trouver
					une solution.
				</p>
				<br />
				<h2>Si vous rencontrez des difficultés pour effectuer le paiement :</h2>
				<p>
					Veuillez nous contacter immédiatement afin que nous puissions trouver
					une solution adaptée à votre situation.
				</p>
				<br />
				<p>
					Nous vous remercions de votre confiance et de votre soutien, et nous
					espérons que vous soyez satisfait de votre achat avec Replikas.
				</p>
				<br />
				<p>
					Note : Replikas n'a pas accès aux informations financières des clients
					et ne peut aucunement modifier ou supprimer les plafonds de paiement
					appliqués à la carte. Seule votre banque est en mesure de les
					modifier.
				</p>
			</div>
			<form method="get" action="/"></form>
		</div>
	</main>
</Layout>

<style>
	.details {
		text-align: center;
	}
	.container_info {
		margin: auto;
		margin-top: 7%;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		max-width: 80ch;
		background-color: var(--theme-button);
		border-radius: 15px;
	}
	.buton_pay {
		background-color: var(--theme-button);
		border-radius: 5px;
		font-family: Arial;
		font-size: 20px;
		width: 200px;
		padding: 10px;
		margin-top: 7%;
		margin-left: 35%;
		color: var(--theme-button-text);
	}
	main {
		margin: auto;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		max-width: 80ch;
		background-color: var(--theme-secondary);
		border-radius: 15px;
	}

	.Description {
		margin-left: 2%;
	}

	h1 {
		text-align: center;
		font-size: 25px;
	}

	h2 {
		margin-top: 0;
	}

	main {
		margin: 20px auto;
		padding: 40px 8%;
		width: 80%;

		border-radius: 20px;

		background-color: var(--theme-secondary);
	}

	article {
		display: flex;
		flex-wrap: wrap;
	}

	.img {
		position: sticky;
		width: 30%;
		margin-left: 0%;
	}

	.img > img {
		width: 100%;
	}

	.informations {
		margin-left: 10%;
	}

	form {
		width: 200px;
		margin-left: 20px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	form > div {
		display: flex;
		width: 100%;
		justify-content: space-around;
	}

	form > * {
		margin: 10px 0;
	}

	#placerOffre {
		width: 120px;
	}

	.button {
		background-color: var(--theme-button);

		border: none;
		border-radius: 5px;

		padding: 5px;
	}
</style>
