---
import Button from "../components/Button.astro";
import TextField from "../components/TextField.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="recover-password" no_searchbar>
    <main>
        <h1>Enter your email address</h1>
        <TextField length="30rem"/>
        <Button text="Annuler"/>
        <Button/>
    </main>
</Layout>
<style>
    main{
        background-color: #222222;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        padding: 2rem;
    }
    h1{
        color: whitesmoke;
        margin-top: 0rem;
    }
</style>