---
import TextField from '../components/TextField.astro';
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import sgMail from '@sendgrid/mail';
import Account from '../model/users/Account';
import { getAccountBySession } from '../model/Utilitaire';

if (Astro.request.method == 'POST') {
	const formData = await Astro.request.formData();
	const redirect = Astro.url.searchParams.get('redirect') || '';

	// Vérification des champs
	if (!formData.has('email')) {
		return Astro.redirect('/recover_password?error=missing_field');
	}
	const email = formData.get('email').toString();
	// Vérification du mail
	if (
		!/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-]+)(\.[a-zA-Z]{2,5}){1,2}$/.test(
			email
		) &&
		!/^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-]+)(\.[a-zA-Z0-9_\-]+)(\.[a-zA-Z]{2,5}){1,2}$/.test(
			email
		)
	)
		return Astro.redirect(
			'/recover_password?error=invalid_email&redirect=' + redirect
		);

	// check if user exists in database
	if (!(await Account.existByEmail(email))) {
		return Astro.redirect('/recover_password?error=user_not_found');
	}
	sgMail.setApiKey(process.env.SENDGRID_API_KEY);
	// generate a password reset token and save it to the user in the database

	// send email to user with password reset link
	const token = await Account.createPasswordRecoveryToken(email);
	const msg = {
		to: email,
		from: 'med.friouichen@gmail.com',
		subject: 'Réinitialisation de mot de passe',
		html: `Cliquez sur ce lien pour réinitialiser votre mot de passe: http://localhost:3000/modify_password?token=${token}`,
	};
	try {
		console.log(msg);
		//await sgMail.send(msg);
	} catch (e) {
		console.error(e);
		return new Response('Internal server error', {
			status: 500,
		});
	}
	return Astro.redirect('recover_password?success=true');
}

////
////
////

let error_msg = '';
let success_msg = '';
if (Astro.url.searchParams.has('error')) {
	const error = Astro.url.searchParams.get('error');
	if (error == 'missing_field') {
		error_msg = 'Veuillez remplir tous les champs';
	} else if (error == 'user_not_found') {
		error_msg = "Cet utilisateur n'existe pas";
	}
} else if (Astro.url.searchParams.has('success')) {
	success_msg =
		'Un email vous a été envoyé avec un code pour réinitialiser votre mot de passe';
}
// Auto complétion email si connecté
const account = await getAccountBySession(Astro.request.headers).catch(
	() => null
);

function getEmailRecover(): string {
	try {
		const mail_user = account.getEmail();
		return mail_user;
	} catch (e) {
		console.log(e);
		const mail_user = '';
		return mail_user;
	}
}

const mail_user = getEmailRecover();
---

<Layout title="Récuperer votre mot de passe">
	<main>
		<h1>Récuperer votre mot de passe</h1>
		{error_msg && <p class="error_msg">{error_msg}</p>}
		{success_msg && <p class="success_msg">{success_msg}</p>}
		<form method="post" action="/recover_password">
			<table>
				<tr>
					<th>Email:</th>
					<td>
						<div class="textfield">
							<TextField
								text={mail_user || ''}
								placeholder="Entrer votre email"
								name="email"
								type="email"
								readonly={mail_user ? true : false}
								length="20rem"
							/>
						</div>
					</td>
				</tr>
			</table>

			<div id="btn">
				<Button text="Recuperer le mot de passe" />
			</div>
		</form>
	</main>
</Layout>

<style>
	table {
		width: 70%;
		margin: auto;
	}

	th {
		text-align: end;
	}

	td {
	}
	.textfield {
		text-align: center;
	}
	#btn {
		text-align: center;
	}
	main {
		margin: auto;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		padding-left: 3rem;
		padding-right: 3rem;
		max-width: 80ch;
		background-color: var(--theme-secondary);
		border-radius: 15px;
	}

	h1 {
		text-align: center;
		font-size: 25px;
	}
</style>
