---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
import Article from '../model/Article';
import Buyer from '../model/users/Buyer';
import Company from '../model/users/Company';
import { getAccountBySession, getBuyerBySession } from '../model/Utilitaire';

// email deFrom pour send email
const account = await getAccountBySession(Astro.request.headers).catch(
	() => null
);
const emailFrom = account.getEmail();

//
const article_id = parseInt(Astro.url.searchParams.get('article'));

const articleName_: Article = await Article.get(article_id).catch(() => null);
const companyID = articleName_.getSellingCompanyId();
const company = await Company.getById(companyID);
const companyName = await company.getNom();
const articleName = articleName_.getName();
const dateDAchat = articleName_.getFinVente();
const purchased = dateDAchat.toLocaleDateString('fr');
//
//if (isNaN(article_id))
//	return new Response('Paramètre invalide', { status: 400 });

const buyer: Buyer = await getBuyerBySession(Astro.request.headers).catch(
	() => null
);
if (!buyer)
	return new Response('Vous devez être connecté pour accéder à cette page', {
		status: 401,
	});
if (Astro.request.method == 'POST') {
	const formData = await Astro.request.formData();
}
---

<Layout title="Signalement" no_searchbar>
	<main>
		<h1>Vous vous apprêtez à signaler {companyName}</h1>
		<p>
			{articleName}<br />Acheté le {purchased}
		</p>
		<form>
			<h2>Motif de signalement</h2>
			<select name="motif">
				<option value="first">Entrez un motif de signalement...</option>
				<option value="">Pratique frauduleuse</option>
				<option value="">Pratique discriminatoire</option>
				<option value=""></option>
				<option value=""></option>
				<option value=""></option>
			</select>
			<h2>Commentaire</h2>
			<textarea placeholder="Entrez un commentaire..."></textarea>
			<br />
			<Button text="Envoyer" />
		</form>
	</main>
</Layout>

<style>
	main {
		background-color: var(--theme-secondary);
		border-radius: 5px;
		margin: 2rem;
		padding-left: 3.5rem;
		padding-right: 3.5rem;
		padding-top: 0.1rem;
	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1.2rem;
	}
	select {
		border: none;
		background-color: whitesmoke;
		border-radius: 5px;
		margin: 1rem;
		padding: 0.7rem;
		font-size: 1rem;
		width: 600px;
	}
	select:focus {
		outline: none;
	}
	textarea {
		border: none;
		background-color: whitesmoke;
		border-radius: 5px;
		margin: 1rem;
		padding: 0.7rem;
		font-size: 1rem;
		width: 600px;
		height: 200px;
	}
</style>
