---
import Layout from "../layouts/Layout.astro";
import SearchBar from "../components/SearchBar.astro";

export interface Props {
	text?: string;
}

const { text } = Astro.props;
---

<Layout title="Replikas" no_searchbar>
    <div class="searchBar">
        <SearchBar text={text}></SearchBar>
    </div>
</Layout>

<style>
    .searchBar{
        margin: 0 20%;
        width: 60%;
    }
</style>