---
import Layout from '../layouts/Layout.astro';
import UserSetting from '../components/UserSetting.astro';
import Buyer from '../model/users/Buyer';
import { getBuyerBySession } from '../model/Utilitaire';
import {
	AccountTypeMismatch,
	SessionTokenInvalideError,
} from '../model/users/Account';
import Notification from '../model/Notification';
import Notif from '../components/Notif.astro';

let buyer: Buyer;
try {
	buyer = await getBuyerBySession(Astro.request.headers);
} catch (e) {
	if (e instanceof AccountTypeMismatch)
		return Astro.redirect('/dashboard/settings');
	else if (!(e instanceof SessionTokenInvalideError)) console.error(e);
	return Astro.redirect('/login');
}

const mail = buyer.getEmail();
const lastName = buyer.getNom();
const firstName = buyer.getPrenom();
const notifications = await Notification.getUserNotifications(buyer.getId());
---

<Layout title="Replikas" no_searchbar>
	<div class="main-wrapper">
		<aside class="sideBar">
			<div>
				<h2>Paramètres utilisateur</h2>
				<ul>
					<li><a href="#monCompte">Mon compte</a></li>
					<li><a href="#accessibilite">Accessibilité</a></li>
				</ul>
				<form action="/action/disconnect">
					<input id="deconnection" type="submit" value="Se déconnecter" />
				</form>
			</div>
		</aside>
		<main class="parameters">
			<h2 id="monCompte">Mon compte</h2>
			<UserSetting parametre="Nom" value={lastName} lien="/modify-name" />
			<UserSetting parametre="Prénom" value={firstName} lien="/modify-name" />
			<UserSetting parametre="Adresse mail" value={mail} lien="/modify-email" />
			<UserSetting parametre="Mot de passe" lien="recover_password" />
			<h2 id="accessibilite">Accessibilité</h2>
			<UserSetting parametre="Taille de la police" value="x1" />
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, sequi
				reprehenderit maiores omnis, sint inventore alias ut quas architecto
				tenetur voluptatem, temporibus incidunt odio! Ducimus nemo nisi, quod
				placeat assumenda expedita obcaecati est magnam, quaerat perspiciatis
				eligendi. Illo ea voluptates ipsa necessitatibus id officiis, quas
				voluptate, ipsam molestias minus voluptas mollitia omnis fugit
				distinctio! Non deserunt labore dolor laboriosam? Hic a, possimus iure
				maxime minus quae, ratione amet iusto delectus architecto nemo ducimus,
				nihil quaerat fuga officiis obcaecati libero enim vel quidem eum
				praesentium nam? Maiores veritatis ratione doloribus animi. Laboriosam,
				aliquid delectus. Expedita temporibus pariatur dolor voluptatibus sed
				nostrum magnam quae assumenda, dolores doloribus, animi totam corporis
				adipisci necessitatibus maxime et cumque. Labore quae similique, aperiam
				odit consectetur nisi, sapiente ipsa aut soluta architecto minima
				dolorum illum provident. Officia, consequuntur. Aspernatur quasi
				voluptatibus consectetur dolore at minima porro, illum nulla excepturi
				fuga facilis distinctio consequatur dolor perspiciatis impedit
				repellendus ipsam quod in! Eius ullam iure nihil nobis sed non
				voluptatem, consectetur magni asperiores excepturi esse tenetur ipsa
				velit, modi vel culpa ipsam! Vitae illum et harum praesentium amet error
				id, odio porro voluptatum maiores ipsa illo explicabo quas ea est,
				accusantium cumque possimus omnis rem? Debitis ab enim explicabo nulla
				magnam commodi qui illum, neque modi quae quis laborum ea quo? Rem
				incidunt qui excepturi autem atque similique facilis iste ut? Velit
				recusandae inventore, impedit minima iste, rem assumenda nulla odit
				cumque unde cum ut, dolorum minus obcaecati architecto voluptate
				adipisci. Aperiam voluptas deleniti, modi itaque nesciunt minus facere
				sed, dolor adipisci aliquid maiores blanditiis voluptatum quas? Omnis
				inventore, officiis mollitia natus error iste et enim blanditiis nobis
				dolorem quisquam dolorum ipsa vitae quas ducimus provident magnam
				tenetur aliquid non! Voluptas impedit, corrupti dolorum doloremque id ea
				modi eos quas quisquam temporibus nisi ad voluptatibus quidem incidunt
				aut at culpa quia dolores, delectus voluptatum animi, non ipsa numquam
				nihil. Nesciunt, eligendi quia ea deleniti quaerat eos vitae. Minima
				ipsum ut, ipsam iusto ex distinctio officia perspiciatis commodi
				possimus tenetur laborum inventore nobis, numquam neque, ullam magnam
				saepe. Incidunt doloribus voluptatem tempora dolorem cum vero obcaecati
				odit consequuntur magni fugiat unde, nam ratione aperiam distinctio
				eveniet laboriosam, repudiandae vel ea rem saepe illo nihil assumenda
				ipsa! Maxime fugit error eius quaerat voluptas voluptatum, natus, ex
				eveniet similique dolorem non dignissimos quas rem harum ipsum maiores.
				Officia nobis at quia accusantium cum impedit deleniti consequuntur
				eaque amet! Quisquam incidunt molestiae quo maiores error, non debitis.
				Delectus consectetur velit molestiae quam dolor eligendi cupiditate ab
				ipsa rem necessitatibus, sit excepturi dignissimos debitis repudiandae
				minus, esse ducimus, sed fuga saepe beatae itaque libero nostrum
				officia? Provident explicabo possimus in omnis officia quaerat illo
				consectetur voluptas necessitatibus pariatur! In, dolores. Similique
				error consequatur neque quidem debitis atque ad quo at unde sint beatae
				provident tempora ullam sequi vitae, adipisci maiores optio. Incidunt,
				odit alias impedit quas voluptatibus quos voluptatem enim commodi,
				distinctio, iste voluptas natus id unde. Ab praesentium debitis veniam.
				Optio voluptate consectetur culpa nam odit doloremque deserunt,
				laudantium temporibus quasi. Maiores, ex.
			</p>
		</main>
		<aside class="notifications">
			<h2>Notifications</h2>
			{notifications.map((notif) => <Notif notif={notif} />)}
		</aside>
	</div>
</Layout>

<style>
	* {
		color: inherit;
		text-decoration: none;
		list-style: none;
		padding: 0;
	}

	.main-wrapper {
		display: grid;
		grid-template-areas: 'sidebar main notifications';
		grid-template-columns: minmax(0, 20rem) minmax(0, 2.5fr) minmax(0, 30rem);
		gap: 20px;
	}

	.main-wrapper > * {
		background-color: var(--theme-secondary);

		margin: 10px;

		text-align: center;
	}

	/*-------------------Side bar---------------------*/

	.sideBar {
		position: sticky;
		top: 0;

		grid-area: sidebar;
		overflow: auto;

		max-height: 100vh;
	}

	.sideBar li {
		padding: 5px 0;
		margin: 10px 0;
	}

	#deconnection {
		background-color: transparent;
		border: none;

		color: var(--theme-button);
		font-size: 22px;
		font-weight: bold;
	}
	#deconnection:hover {
		filter: brightness(1.2);
		cursor: pointer;
	}

	/*-------------------Parametres---------------------*/

	.parameters {
		grid-area: main;

		padding: 0 20% 50px 20%;
	}

	/*-------------------Notifications---------------------*/

	.notifications {
		position: sticky;
		top: 0;

		grid-area: notifications;
		overflow: auto;

		max-height: 100vh;
	}
</style>
