<footer>
	<section id="replika-info">
		<h> Replikas</h>
		<a href="/aboutus"> À propos de Replikas</a>
		<a href="/contact">Nous contacter</a>
		<a href="/privacy_policy"> Notre politique de confidentialité</a>
	</section>
	<section id="replika-socials">
		<h> Nos réseaux</h>
		<div class="hbox">
			<a href="https://fr-fr.facebook.com/DonaldTrump" target="_blank"
				><img
					src="/img/icons/socials/facebook.svg"
					width="48px"
					height="48px"
					alt="Facebook"
				/>
			</a>
			<a href="https://twitter.com/elonmusk" target="_blank"
				><img
					src="/img/icons/socials/twitter.svg"
					width="48px"
					height="48px"
					alt="Twitter"
				/>
			</a>
			<a href="https://www.instagram.com/hugodecrypte" target="_blank"
				><img
					src="/img/icons/socials/instagram.svg"
					width="48px"
					height="48px"
					alt="Instagram"
				/>
			</a>
			<a
				href="https://fr.linkedin.com/in/herv%C3%A9-blanchon-4851b02"
				target="_blank"
				><img
					src="/img/icons/socials/linkedin.svg"
					width="48px"
					height="48px"
					alt="Linkedin"
				/>
			</a>
			<a href="https://r.mtdv.me/replikas" target="_blank"
				><img
					src="/img/icons/socials/youtube.svg"
					width="48px"
					height="48px"
					alt="Youtube"
				/>
			</a>
		</div>
	</section>
	<section id="replikas-team">
		<img
			src="/favicon.svg"
			width="24px"
			height="24px"
			alt="Replikas"
			class="filter-whitesmoke"
		/>
		<h> Replikas team</h>
	</section>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		background-color: var(--theme-secondary);

		flex-grow: 0;
		flex-shrink: 0;
	}
	footer h {
		font-size: 1.5rem;
		margin: 1rem;
		font-weight: bold;
	}
	footer #replika-info a {
		font-size: 1rem;
		margin: 0.4rem;
		text-decoration: none;
		color: inherit;
	}
	footer section {
		margin: 0.5rem;
	}
	footer #replika-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer #replika-socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer #replikas-team {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	footer #replikas-team img {
		width: 1.5rem;
		margin-right: -0.5rem;
	}
</style>
