<footer>
	<section id="replika-info">
		<h> Replikas</h>
		<p> À propos de Replikas</p>
		<p> Nous contacter</p>
		<p> Notre politique de confidentialité</p>
	</section>
	<section id="replika-socials">
		<h> Nos réseaux</h>
		<div class="hbox">
			<a href="https://fr-fr.facebook.com/DonaldTrump"
				><img src="/img/socials/facebook.svg" />
			</a>
			<a href="https://twitter.com/elonmusk"
				><img src="/img/socials/twitter.svg" />
			</a>
			<a href="https://www.instagram.com/hugodecrypte"
				><img src="/img/socials/instagram.svg" />
			</a>
			<a href="https://fr.linkedin.com/in/herv%C3%A9-blanchon-4851b02"
				><img src="/img/socials/linkedin.svg" />
			</a>
			<a href="https://r.mtdv.me/CtJn99fGPk"
				><img src="/img/socials/youtube.svg" />
			</a>
		</div>
	</section>
	<section id="replikas-team">
		<img src="/favicon.svg" />
		<h> Replikas team</h>
	</section>
</footer>
<style>
	footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		background-color: #222222;
		color: whitesmoke;

		flex-grow: 0;
		flex-shrink: 0;
	}
	footer h {
		font-size: 1.5rem;
		margin: 1rem;
		font-weight: bold;
	}
	footer p {
		font-size: 1rem;
		margin: 0.4rem;
	}
	footer section {
		margin: 0.5rem;
	}
	footer #replika-info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer #replika-socials {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer #replikas-team {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	footer #replikas-team img {
		width: 1.5rem;
		fill: whitesmoke;
		margin-right: -0.5rem;

		filter: invert(96%) sepia(88%) saturate(13%) hue-rotate(315deg)
			brightness(112%) contrast(92%);
	}
</style>
