---
export interface Props {
	text?: string;
    placeholder?: string;
}

const { text, placeholder } = Astro.props;
---

<form method="get" action="">
	<label >{placeholder}:</label>
	<input type="text" value={text} name="" id="" />
</form>
<style>
	form {
		display: flex;
		align-items: center;
		background-color: #353A4D;
		padding: 0.4rem;
		margin-bottom: 1rem;
		width: 250px;
	}

	label{
		color: whitesmoke;
	}

	input {
		border: none;
		background-color: transparent;
		padding: 0.5rem;
		font-size: 0.8rem;
		width: 100%;
		color: white;
		
	}
	input::placeholder{
		color: #EFEFEF;
	}
	input:focus {
		outline: none;
	}
</style>