---
import Logo from "../components/Logo.astro";
import SearchBar from "../components/SearchBar.astro";

export interface Props {
	page_name?: string;
	search_bar?: boolean;
}

const { page_name, search_bar } = Astro.props;
---

<header>
	<a href="/"><Logo /></a>

	<h2>{page_name}</h2>

	<nav>
		<slot />
	</nav>

	<div id="right">
		{search_bar && <SearchBar />}
		<a class="button" id="signup" href="/register"> Creer un compte</a>
		<a class="button" id="login" href="/login"> Connectez-vous</a>
	</div>
</header>

<style>
	body {
		margin: 0px;
		padding: 0px;
	}

	:root {
		--background-color: #222222;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--background-color);
		color: whitesmoke;

		max-width: 100%;
		padding-block: 1rem;
		padding-inline: 2rem;

		z-index: 1;

		flex-grow: 0;
		flex-shrink: 0;
	}

	#right {
		display: flex;
		align-items: center;
	}

	.button {
		color: whitesmoke;
		text-decoration: none;
		font-size: 1.5rem;
		padding: 0.5rem 1rem;
		margin: 0.5rem;
		border-radius: 0.5rem;
		background-color: #4b4e6d;
	}
</style>
