---
export interface Props {
	text: string;
	href?: string;
    selected?: boolean;
}

const { text, href, selected } = Astro.props;
---
<a href={href} class={selected ? 'selected' : ''}>{text}</a>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
    :root {
        --selected-color: #F2BB13;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
        padding: 10px 0;
        margin-inline: 20px;
        display: block;
        font-family: 'Open Sans', sans-serif;
    }

    a:hover {
        color: var(--selected-color);
    }

    .selected {
        color: var(--selected-color);
    }

    .selected::after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--selected-color);
        margin-top: 5px;
    }
</style>