---
export interface Props {
	text: string;
	theme?: string;
	href?: string;
}

const { text, theme, href } = Astro.props;
---
<a href={href} class={theme}>{text}</a>

<style>
	a {
		color: whitesmoke;
		background-color: #454C55;
		padding: 0.5rem 1rem;
		margin-inline: 0.5rem;

		text-decoration: none;
	}

	a:hover {
		background-color: #5A6268;
	}

	a.orange {
		background-color: #F2BB13;
		color: #454C55;
	}

	a.orange:hover {
		background-color: #F2D13D;
	}
</style>