---
export interface Props {
	parametre: string;
	value?: string;
}

const { parametre, value } = Astro.props;
---

<div>
	<p>{parametre}{value ? ' : ' + value : ''}</p>
	<a href="">modifier</a>
</div>

<style>
	div {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	a {
		color: blue;
	}
</style>
