---
import Footer from "../components/Footer.astro";
import Navbar from "./Navbar.astro";

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- Normalize css to remove default margins -->
		<link
			rel="stylesheet"
			href="https://necolas.github.io/normalize.css/latest/normalize.css"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<Navbar search_bar />
			<section>
				<slot />
			</section>
			<Footer />
		</main>
	</body>
	<style>
		html,
		body {
			box-sizing: border-box;
			height: 100%;
			padding: 0;
			margin: 0;
		}
		body {
			background-color: #4b4e6d;
			font-family: system-ui, sans-serif;
		}
		main {
			box-sizing: border-box;
			min-height: 100%;
			display: flex;
			flex-direction: column;
		}
		section {
			flex-grow: 1;
		}
	</style>
	<style is:global>
		.hbox {
			display: flex;
			flex-direction: row;
		}
	</style>
</html>
