---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import Breadcrumb from '../components/Breadcrumb.astro';


export interface Props {
	title: string;
	no_searchbar?: boolean;
}

const { title, no_searchbar} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Le site de ventes aux enchères de des cinéphiles"
		/>
		<title>{title}</title>
	</head>
	<body>
		<main>
			{no_searchbar ? <Navbar /> : <Navbar search_bar />}

			<Breadcrumb {}
			/>
			<section>
				<slot />
			</section>
			<Footer />
		</main>
	</body>
	<style is:global>
		:root {
			--theme-primary: #4b4e6d;
			--theme-secondary: #222222;
			--theme-button: #353a4d;
			--theme-text: whitesmoke;
			--theme-link: blue;
		}
		/* THEMES

		// Default
		:root {
			--theme-primary: #4b4e6d;
			--theme-secondary: #222222;
			--theme-button: #353a4d;
			--theme-text: whitesmoke;
			--theme-link: blue;
		}
		
		// "Rustic Charm" 
		:root {
			--theme-primary: #7b5e57;
			--theme-secondary: #4c3e3a;
			--theme-button: #b28f86;
			--theme-text: white;
			--theme-link: #9b8478;
		}
		
		*/

		.hbox {
			display: flex;
			flex-direction: row;
		}

		.filter-whitesmoke {
			filter: invert(96%) sepia(88%) saturate(13%) hue-rotate(315deg)
				brightness(112%) contrast(92%);
		}

		.filter-crimson {
			filter: invert(12%) sepia(98%) saturate(5633%) hue-rotate(343deg)
				brightness(91%) contrast(89%);
		}
	</style>
	<style>
		html,
		body {
			box-sizing: border-box;
			height: 100%;
			padding: 0;
			margin: 0;
		}
		body {
			background-color: var(--theme-primary);
			color: var(--theme-text);
			font-family: system-ui, sans-serif;
		}
		main {
			box-sizing: border-box;
			min-height: 100%;
			display: flex;
			flex-direction: column;
		}
		section {
			flex-grow: 1;
			padding: 2rem;
		}
	</style>
</html>
