---
import Breadcrumb from '../components/Breadcrumb.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro';
import Navbar from '../components/Navbar.astro';

export interface Props {
	title: string;
	no_searchbar?: boolean;
}

const { title, no_searchbar } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preload" href="/fonts/Larsseit.otf" as="font" />
		<link rel="preload" href="/fonts/Larsseit-Bold.otf" as="font" />
		<link rel="preload" href="/fonts/OpenDyslexic-Bold.otf" as="font" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Le site de ventes aux enchères de des cinéphiles"
		/>
		<title>{title}</title>
	</head>
	<body>
		<main>
			{no_searchbar ? <Navbar /> : <Navbar search_bar />}

			<Breadcrumb />
			<section>
				<slot />
				<div id="cookie-banner">
					<div class="bannertext">
						<div><Logo /></div>
						<p>
							En utilisant notre site web, vous acceptez l'utilisation de
							cookies essentiels pour assurer la bonne performance et la
							sécurité du site. Ces cookies ne collectent aucune information
							personnelle et sont uniquement utilisés pour améliorer
							l'expérience utilisateur.
							<a href="/privacy_policy">En savoir plus</a>
						</p>
						<div class="bannerbutton">
							<p>J'accepte les cookies</p>
						</div>
					</div>
				</div>
				<Footer />
			</section>
		</main>
		<style is:global>
			/*:root {
			--theme-primary: white;
			--theme-secondary: #f5f5f5;
			--theme-button: #7d53de;
			--theme-button-text: whitesmoke;
			--theme-text: black;
			--theme-link: #7d53de;
			--theme-input: whitesmoke;
			--theme-search-bar: white;
		}
		*/
			:root {
				--theme-primary: #222;
				--theme-secondary: #000;
				--theme-button: #d60808;
				--theme-button-text: whitesmoke;
				--theme-text: whitesmoke;
				--theme-link: #d60808;
				--theme-input: whitesmoke;
				--theme-input-text: black;
				--theme-search-bar: whitesmoke;
			}

			/* THEMES
		// "Rustic Charm" 
		:root {
			--theme-primary: #7b5e57;
			--theme-secondary: #4c3e3a;
			--theme-button: #b28f86;
			--theme-text: white;
			--theme-link: #9b8478;
		}

		// Modern white
		:root {
			--theme-primary: white;
			--theme-secondary: #F5F5F5;
			--theme-button: #7D53DE;
			--theme-text: black;
			--theme-link: aliceblue;
		}
		
		*/

			.hbox {
				display: flex;
				flex-direction: row;
			}

			.filter-whitesmoke {
				filter: invert(96%) sepia(88%) saturate(13%) hue-rotate(315deg)
					brightness(112%) contrast(92%);
			}

			.filter-crimson {
				filter: invert(12%) sepia(98%) saturate(5633%) hue-rotate(343deg)
					brightness(91%) contrast(89%);
			}
		</style>
		<style>
			@font-face {
				font-family: dyslexia;
				src: url('/fonts/OpenDyslexic-Regular.ttf');
			}

			html,
			body {
				box-sizing: border-box;
				height: 100%;
				padding: 0;
				margin: 0;
			}

			body {
				background-color: var(--theme-primary);
				color: var(--theme-text);
				font-family: Larsseit, system-ui, sans-serif;
			}
			main {
				box-sizing: border-box;
				min-height: 100%;
				display: flex;
				flex-direction: column;
			}
			section {
				flex-grow: 1;
				padding: 2rem 0;
			}

			/* Les cookies */

			#cookie-banner {
				position: fixed;
				bottom: 0;
				width: 100%;
				background-color: var(--theme-secondary);
				color: var(--theme-text);
				padding: 1rem;
				margin: auto;
				display: none;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				z-index: 100;
			}

			.bannertext div {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 1rem;
			}

			#cookie-banner p {
				margin: 0;
				font-size: 1.5rem;
				text-align: center;
			}

			.bannerbutton p {
				color: var(--theme-button);
				text-decoration: none;
			}

			.bannerbutton p:hover {
				text-decoration: underline;
			}

			.bannerbutton {
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			.bannerbutton p {
				cursor: pointer;
				margin: 10px 0;
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				background-color: var(--theme-button);
				color: var(--theme-button-text);
				font-size: 2rem;
				text-decoration: none;
			}
		</style>

		<script>
			const cookieButton = document.querySelector('.bannerbutton p');
			const cookieBanner = document.getElementById(
				'cookie-banner'
			) as HTMLDivElement;

			cookieButton.addEventListener('click', () => {
				acceptCookies();
			});

			function setCookie() {
				localStorage.setItem('acceptCookies', 'true');
			}

			function getCookie(name: string) {
				return localStorage.getItem(name);
			}

			function acceptCookies() {
				setCookie();
				cookieBanner.style.display = 'none';
			}

			function checkCookies() {
				var acceptCookies = getCookie('acceptCookies');
				if (acceptCookies != 'true') {
					cookieBanner.style.display = 'flex';
				} else {
					cookieBanner.style.display = 'none';
				}
			}

			window.onload = function () {
				checkCookies();
			};
		</script>
	</body>
</html>
