---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

export interface Props {
	title: string;
	no_searchbar?: boolean;
}

const { title, no_searchbar } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Le site de ventes aux enchères de des cinéphiles"
		/>
		<title>{title}</title>
	</head>
	<body>
		<main>
			{no_searchbar ? <Navbar /> : <Navbar search_bar />}
			<section>
				<slot />
			</section>
			<Footer />
		</main>
	</body>
	<style>
		html,
		body {
			box-sizing: border-box;
			height: 100%;
			padding: 0;
			margin: 0;
		}
		body {
			background-color: var(--theme-primary);
			font-family: system-ui, sans-serif;
		}
		main {
			box-sizing: border-box;
			min-height: 100%;
			display: flex;
			flex-direction: column;
		}
		section {
			flex-grow: 1;
			padding: 2rem;
		}
	</style>
	<style is:global>
		/* THEME */
		:root {
			--theme-primary: #4b4e6d;
			--theme-secondary: #222222;
			--theme-panel: #353a4d;
			--theme-text: whitesmoke;

			--theme-link: blue;

			color: whitesmoke;
		}

		.hbox {
			display: flex;
			flex-direction: row;
		}
	</style>
</html>
