---
import CarrouselComponent from '../components/CarrouselComponent.astro';
import Article from '../model/Article';

export interface Props {
	articles: Article[];
}

const { articles } = Astro.props;
---

<div class="container">
	<div class="carrousel">
		<div class="slider">
			<article>1</article>
			<article>2</article>
			<article>3</article>
			<article>4</article>
			<article>5</article>
		</div>
		<div class="controls">
			<span class="arrow prev">Prev</span>
			<span class="arrow next">Next</span>
		</div>
	</div>
</div>

<style>
	.container {
		width: 10%;
		margin: 20px auto;
		height: 300px;
	}

	.carrousel {
		width: 100%;
		height: 100%;
		border: 2px solid green;
		border-radius: 3px;
		display: flex;
		justify-content: flex-start;
		position: relative;
	}

	.slider {
		border: 1px solid blue;
		display: flex;
		height: 100%;
		width: 500%;
		flex-shrink: 0;
		transition: all 0.5s;
	}
	.slider article {
		border: 1px solid red;
		flex-basis: 20%;
		width: 20%;
		flex-shrink: 0;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.arrow {
		position: absolute;
		top: 10px;
		cursor: pointer;
	}

	.arrow.prev {
		left: 10px;
	}

	.arrow.next {
		right: 10px;
	}
</style>

<script>
	const slider: any = document.querySelector('.slider');
	const carrousel: any = document.querySelector('.carrousel');
	const prev: any = document.querySelector('.prev');
	const next: any = document.querySelector('.next');

	var direction: number = -1;

	prev.addEventListener('click', function () {
		if (direction === -1) {
			slider.appendChild(slider.firstElementChild);
			direction = 1;
		}
		carrousel.style.justifyContent = 'flex-end';
		slider.style.transform = 'translate(20%)';
	});

	next.addEventListener('click', function () {
		if (direction === 1) {
			slider.prepend(slider.lastElementChild);
			carrousel.style.justifyContent = 'flex-start';
			direction = -1;
		}
		slider.style.transform = 'translateX(-20%)';
	});

	slider.addEventListener('transitionend', function () {
		if (direction === -1) {
			slider.appendChild(slider.firstElementChild);
		} else if (direction === 1) {
			slider.prepend(slider.lastElementChild);
		}

		slider.style.transition = 'none';
		slider.style.transform = 'translate(0)';
		setTimeout(function () {
			slider.style.transition = 'all 0.5s';
		});
	});
</script>
