---
import CarrouselComponent from "../components/CarrouselComponent.astro";

export interface Props {}
---

<div>
  <div>
    <!-- slot -->
    <slot />
  </div>
</div>

<style>
  div {
    display: flex;
    height: 100%;
    width: 500%;
    flex-shrink: 0;
    transition: all 1s;
  }
</style>
